@import url("https://becci.krautsynch.de/emotes.css?1644178136163");
@import url("https://resources.pink.horse/css/anim.css");
@import url("https://resources.pink.horse/css/img_fx.css");

/* div.chat-msg-BUNTERHURRENSON>span>span { color: inherit !important; } */

.CodeMirror-dialog button {
  background-color: black
}

.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x
}

.CodeMirror-lint-tooltip {
  z-index: 9999 !important;
}

.CodeMirror {
  resize: vertical;
}

/* Ehrenfarbe für die Ehrenmänner die etwas gespendet haben */
#useritem-Berndboy2 .userlist-Berndboy2,
#useritem-Saftbernd .userlist-Saftbernd,
#useritem-NWBernd .userlist-NWBernd,
#useritem-BrentSpar .userlist-BrentSpar,
#useritem-Busfahrrad .userlist-Busfahrrad,
#useritem-Franke2 .userlist-Franke2,
#useritem-Yps .userlist-Yps,
#useritem-Skalarbalken .userlist-Skalarbalken,
#useritem-Lauerstein .userlist-Lauerstein,
#useritem-hrss .userlist-hrss {
  color: gold !important;
}

#useritem-Dernb .userlist-Dernb {
  color: black !important;
}

#chatheader,
#videowrap-header,
#motdwrap,
.btn-default,
.well {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.queue_entry {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-default {
  background-image: none;
}

.userlist_owner {
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: normal !important;
  text-shadow: none;
}

.userlist_op {
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: normal;
}

.modal-content {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 0px;
}

#userlist {
  background-color: rgba(0, 0, 0, 0.9);
}

#messagebuffer {
  background-color: rgba(0, 0, 0, 0.8);
}

#plmeta {
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form,
.dropdown-menu,
.credit,
#footer {
  background-color: black !important;
}

#chatwrap {
  background: none;
}

.well {
  border: none;
}

.toggle-label,
.credit,
#newmessages-indicator-bghack,
#footer {
  display: none;
}

.welcome-avatar {
  max-height: 22px;
  margin-right: 8px;
}

.poll-image {
  max-height: 64px
}

.btn-sm {
  height: 35px;
  max-height: 35px !important;
}

#messagebuffer img:not(.channel-emote),
#pmbar img {
  max-width: 120px;
  max-height: 120px;
}

.image-embed-small,
.channel-emote {
  max-width: 110px;
  max-height: 80px;
}

.big {
  max-width: 620px;
  max-height: 620px;
}

#voteskip:before {
  content: " ";
  background-image: url("https://emotes.krautsynch.de/krautsynch/4säge.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  padding: 5px 10px 10px 60px;
}

#voteskip {
  border: 0px solid green;
}


.rotor {
  max-width: 110px;
  max-height: 125px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.navbar-brand {
  background-image: url("https://i.postimg.cc/cC3Bq8pf/XbHyRnh.png");
  background-size: 90%;
  color: transparent !important;
  text-shadow: none;
  width: 205px;
  background-position: bottom center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.3);
  width: 9px;
  max-height: 10px !important;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: rgba(255, 255, 255, 0.3);
}

.rmarquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.rmarquee span {
  display: inline-block;
  padding-left: 100%;
  text-indent: 0;
  animation: rmarquee 10s linear infinite;
}

@keyframes rmarquee {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  text-indent: 0;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.rainbow {
  background: linear-gradient(to right, #f22, #f2f, #22f, #2ff, #2f2, #2f2, #ff2, #f22);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 15px;
  font-family: "Comic Sans MS";
}

@keyframes rainbow2 {
  0% {
    color: #ff0000;
  }

  10% {
    color: #ff8000;
  }

  20% {
    color: #ffff00;
  }

  30% {
    color: #80ff00;
  }

  40% {
    color: #00ff00;
  }

  50% {
    color: #00ff80;
  }

  60% {
    color: #00ffff;
  }

  70% {
    color: #0080ff;
  }

  80% {
    color: #0000ff;
  }

  90% {
    color: #8000ff;
  }

  100% {
    color: #ff0080;
  }
}

img[title="/frosch"]:hover {
  -webkit-transform: scale(3) rotate(22deg) translateX(10px) translateY(-20px);
  -ms-transform: scale(3) rotate(22deg) translateX(10px) translateY(-20px);
  transform: scale(3) rotate(22deg) translateX(10px) translateY(-20px);
}

@media screen and (max-width: 991px) {
  .columns {
    overflow: scroll;
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media screen and (min-width: 1401px) {
  .columns {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.qe_blame {
  float: right
}

.motd-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.motd-container-elfen {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.motd-box {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  min-width: 60px;
  min-height: 20px;
  padding: 8px;
  margin: 4px;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.motd-box-elfen {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  min-width: 60px;
  min-height: 20px;
  padding: 8px;
  margin: 4px;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.motd-box.no-background {
  background-color: initial;
}

.motd-box:hover {
  background-color: #313234;
}

.motd-box .text-row {
  display: block;
}

.motd-box .motd-img {
  margin-top: 4px;
  max-height: 120px;
}

.motd-link {
  color: white;
  text-decoration: none;
}

.kraut-title {
  color: white;
  font-size: 2.5em;
  font-variant: all-small-caps;
  font-weight: bolder;
  text-align: center;
}

#cs-csseditor>button,
#cs-motdeditor>button,
#cs-jseditor>button {
  margin-top: 10px;
}

.chat-msg-Becci .username {
  display: none
}

.chat-msg-Becci .timestamp {
  display: none
}

.chat-msg-Becci {
  color: lightgrey;
  font-style: italic;
  border: 1px solid rgb(71, 72, 71);
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.pistoleparent {
  position: relative;
  max-width: 100%;
  display: inline-block;
}

.pistoleimage1 {}

.pistoleimage2 {
  width: 75px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mutzeimage1 {
  width: 40px;
  position: absolute;
  top: 0px;
}

.mutzeimage2 {
  width: 100%;
  height: 50px;
  position: absolute;
  top: -5px;
}

.mutzeparent {
  position: relative;
  max-width: 50px;
  display: inline-block;
}

.bierimage {
  width: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(-1);
}

.rbierimage {
  width: 35px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.monsterimage {
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.rmonsterimage {
  height: 45px;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.grußimage {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: -5px;
}

.flacker-animation {
  animation: flackerAnimation 0.15s infinite;
  display: inline-block;
}

@keyframes flackerAnimation {
  0% {
    filter: invert(100%);
  }

  50% {
    filter: invert(0%);
  }

  100% {
    filter: invert(100%);
  }
}

.moviemaker-animation {
  animation: moviemakerAnimation 5s infinite;
  display: inline-block;
}

@keyframes moviemakerAnimation {
  0% {
    -webkit-filter: hue-rotate(-360deg);
  }

  50% {
    -webkit-filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.flip-animation {
  animation: flipAnimation 0.4s steps(1) infinite;
  display: inline-block;
}

.flip-animation2 {
  animation: flipAnimation 1s ease-in-out infinite;
  display: inline-block;
}

@keyframes flipAnimation {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(-1);
  }
}

@keyframes flipAnimation2 {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(-1);
  }
}

.flip-animation3 {
  animation: flipAnimation 1s steps(1) infinite;
  display: inline-block;
}

@keyframes flipAnimation3 {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(-1);
  }
}

.nick-animation {
  animation: nickAnimation 1s steps(1) infinite;
  display: inline-block;
}

@keyframes nickAnimation {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-15deg);
  }
}

.tilt-f,
.tilt-r,
.mirror-x,
.mirror-y {
  display: inline;
}

.tilt-f img.channel-emote:not([data-spoiled="false"]) {
  transform: rotate(-45deg);
}

.tilt-r img.channel-emote:not([data-spoiled="false"]) {
  transform: rotate(45deg);
}

.mirror-x img:not([data-spoiled="false"]) {
  transform: scaleX(-1);
}

.mirror-y img:not([data-spoiled="false"]) {
  transform: scaleY(-1);
}

.mirror-y .mirror-x img:not([data-spoiled="false"]),
.mirror-x .mirror-y img:not([data-spoiled="false"]) {
  transform: rotate(180deg);
}

.mirror-x .tilt-f img.channel-emote:not([data-spoiled="false"]),
.tilt-f .mirror-x img.channel-emote:not([data-spoiled="false"]) {
  transform: scaleX(-1) rotate(-45deg);
}

.mirror-y .tilt-f img.channel-emote:not([data-spoiled="false"]),
.tilt-f .mirror-y img.channel-emote:not([data-spoiled="false"]) {
  transform: scaleY(-1) rotate(-45deg);
}

.mirror-x .tilt-r img.channel-emote:not([data-spoiled="false"]),
.tilt-r .mirror-x img.channel-emote:not([data-spoiled="false"]) {
  transform: scaleX(-1) rotate(45deg);
}

.mirror-y .tilt-r img.channel-emote:not([data-spoiled="false"]),
.tilt-r .mirror-y img.channel-emote:not([data-spoiled="false"]) {
  transform: scaleY(-1) rotate(45deg);
}

.tilt-f .mirror-y .mirror-x img.channel-emote:not([data-spoiled="false"]),
.tilt-f .mirror-x .mirror-y img.channel-emote:not([data-spoiled="false"]),
.mirror-x .tilt-f .mirror-y img.channel-emote:not([data-spoiled="false"]),
.mirror-x .tilt-f .mirror-y img.channel-emote:not([data-spoiled="false"]),
.mirror-y .mirror-x .tilt-f img.channel-emote:not([data-spoiled="false"]),
.mirror-x .mirror-y .tilt-f img.channel-emote:not([data-spoiled="false"]) {
  transform: rotate(135deg);
}

.tilt-r .mirror-y .mirror-x img.channel-emote:not([data-spoiled="false"]),
.tilt-r .mirror-x .mirror-y img.channel-emote:not([data-spoiled="false"]),
.mirror-x .tilt-r .mirror-y img.channel-emote:not([data-spoiled="false"]),
.mirror-x .tilt-r .mirror-y img.channel-emote:not([data-spoiled="false"]),
.mirror-y .mirror-x .tilt-r img.channel-emote:not([data-spoiled="false"]),
.mirror-x .mirror-y .tilt-r img.channel-emote:not([data-spoiled="false"]) {
  transform: rotate(225deg);
}

@-webkit-keyframes anim-shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes anim-shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.image-shake {
  display: inline-block;
  -webkit-animation-name: anim-shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: anim-shake;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.brody img {
  animation: imgSway linear 1.20s;
  -webkit-animation: imgSway linear 1.20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

@keyframes imgSway {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  24% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  25% {
    transform: translate(-5px, 5px) rotate(15deg);
  }

  49% {
    transform: translate(-5px, 5px) rotate(15deg);
  }

  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  74% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  75% {
    transform: translate(5px, 5px) rotate(-15deg);
  }

  99% {
    transform: translate(5px, 5px) rotate(-15deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@-moz-keyframes imgSway {
  0% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
  }

  24% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
  }

  25% {
    -moz-transform: translate(-5px, 5px) rotate(15deg);
  }

  49% {
    -moz-transform: translate(-5px, 5px) rotate(15deg);
  }

  50% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
  }

  74% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
  }

  75% {
    -moz-transform: translate(5px, 5px) rotate(-15deg);
  }

  99% {
    -moz-transform: translate(5px, 5px) rotate(-15deg);
  }

  100% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
  }
}

@-webkit-keyframes imgSway {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  24% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  25% {
    -webkit-transform: translate(-5px, 5px) rotate(15deg);
  }

  49% {
    -webkit-transform: translate(-5px, 5px) rotate(15deg);
  }

  50% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  74% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  75% {
    -webkit-transform: translate(5px, 5px) rotate(-15deg);
  }

  99% {
    -webkit-transform: translate(5px, 5px) rotate(-15deg);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
}

.emoteresize-x img {
  width: var(--emote-resize-x) !important;
  max-width: var(--emote-resize-x) !important;
  max-height: 500px !important;
}

.emoteresize-xy img {
  width: var(--emote-resize-x) !important;
  height: var(--emote-resize-y) !important;
  max-width: var(--emote-resize-x) !important;
  max-height: var(--emote-resize-y) !important;
}

.emoteresize {
  display: inline;
}

.fikuinfo {
  max-height: 100px;
  min-height: 100px;
  overflow-y: auto;
}

.fikuimage {
  min-height: 125px;
  max-width: 320px !important;
  float: left;
  margin-right: 5px;
  background: white;
}

.wikiinfo {
  max-height: 125px;
  overflow-y: auto;
}

.wikiinfo ul {
  overflow: hidden;
}

.lauersubject {
  color: #446655;
  font-weight: 800;
}

.orangeText {
  color: #E04000;
}

.redText {
  font-size: 14px;
  color: #f20;
  font-weight: 700;
}

.banMsg {
  font-size: 12px;
  color: #f20;
  font-weight: 700;
}

#queue_end {
  font-size: 0;
}

#queue_end::before {
  content: "At End";
  font-size: 14px;
}

#queue_next {
  font-size: 0;
}

#queue_next::before {
  content: "Next";
  font-size: 14px;
}

.overlay-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
}

.overlay {
  position: absolute;
  height: 100%;
  overflow: hidden;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}

.overlay-height * {
  max-height: 100% !important;
}

.spoiler-blur:not(:hover) {
  filter: blur(3px);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body.cinemamodeon #motdrow,
body.cinemamodeon #playlistrow,
body.cinemamodeon .navbar,
body.cinemamodeon #footer,
body.cinemamodeon #userlist {
  display: none;
}

body.cinemamodeon #userlist,
body.cinemamodeon #chatheader,
body.cinemamodeon #messagebuffer {
  border: none;
}

body.cinemamodeon #currenttitle {
  border: none;
  text-align: center;
}

body.cinemamodeon #chatwrap {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  padding: 0px !important;
  width: 400px !important;
  height: 100% !important;
  z-index: 2000 !important;
  background-color: #222222 !important;
  border: none !important;
}

body.cinemamodeon #chatwrap #messagebuffer,
body.cinemamodeon #chatwrap #userlist {
  height: calc(100% - 59px) !important;
  overflow: auto;
}

body.cinemamodeon #chatline {
  width: calc(100% - 1px) !important;
  position: relative !important;
  left: 0px !important;
  border: none;
}


body.cinemamodeon #videowrap .embed-responsive {
  height: 100% !important;
  width: 100% !important;
  right: 0 !important;
  top: 0 !important;
  margin-bottom: 20px !important;
}

body.cinemamodeon #videowrap {
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  padding: 0 !important;
  z-index: 3000 !important;
  background-color: black;
  height: calc(100% - 21px) !important;
  width: calc(100% - 400px) !important;
}

body.cinemamodeon #pmbar {
  width: calc(100% - 400px) !important;
  left: 400px;
  bottom: 42px;
}

.kinomodus {
  background: #000;
  opacity: 0.5;
  z-index: 997;
}

#videowrap {
  z-index: 999;
}

#queue>.queue_entry:not(.queue_temp)>a::before {
  content: "🗡️"
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#leftpane-inner:after {
  margin: auto;
}

.embed-responsive::after {
  position: absolute;
  left: -10px;
  bottom: -10px;
}

/* Bot-CSS "logo" do not edit */
#leftpane-inner::after { content:url("https://emotes.krautsynch.de/krautsynch/logoheimatabend.png"); }
/* Bot-CSS "logo" do not edit */
/* Bot-CSS "hintergrund" do not edit */
body { background-image:url("https://emotes.krautsynch.de/krautsynch/bgnacht.jpg"); }
/* Bot-CSS "hintergrund" do not edit */
 /* Bot-CSS "nippes" do n
/* Bot-CSS "nippes" do not edit */
.embed-responsive::after { content:url("https://emotes.krautsynch.de/krautsynch/n