.channel-emote[title="/1bescheuert"] {
  max-height: 60px !important;
}
.channel-emote[title="/1fühl"] {
  max-width: 50px !important;
  max-height: 60px !important;
}
.channel-emote[title="/1kot"] {
  max-height: 60px !important;
}
.channel-emote[title="/1opc"] {
  max-width: 80px !important;
  max-height: 80px !important;
}
.channel-emote[title="/1reich"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/1tta"] {
  max-height: 60px !important;
}
.channel-emote[title="/1tw"] {
  max-width: 202px !important;
  max-height: 60px !important;
}
.channel-emote[title="/2achim"] {
  max-width: 480px !important;
  max-height: 320px !important;
}
.channel-emote[title="/2applaus"] {
  max-height: 70px !important;
}
.channel-emote[title="/2asperger"] {
  max-height: 80px !important;
}
.channel-emote[title="/2bescheuert"] {
  max-height: 60px !important;
}
.channel-emote[title="/2brum"] {
  max-height: 75px !important;
}
.channel-emote[title="/2burt"] {
  max-height: 80px !important;
}
.channel-emote[title="/2clap"] {
  max-height: 80px !important;
}
.channel-emote[title="/2comfy"] {
  max-height: 80px !important;
}
.channel-emote[title="/2doge"] {
  max-width: 57px !important;
  max-height: 64px !important;
}
.channel-emote[title="/2dood"] {
  max-width: 150px !important;
}
.channel-emote[title="/2faded"] {
  max-height: 60px !important;
}
.channel-emote[title="/2feelsbad"] {
  max-height: 60px !important;
}
.channel-emote[title="/2feelseh"] {
  max-height: 55px !important;
}
.channel-emote[title="/2frog"] {
  max-width: 60px !important;
  max-height: 44px !important;
}
.channel-emote[title="/2frosch"] {
  max-height: 50px !important;
}
.channel-emote[title="/2hachja"] {
  max-height: 55px !important;
}
.channel-emote[title="/2haltso"] {
  max-width: 76px !important;
  max-height: 60px !important;
}
.channel-emote[title="/2jfrosch"] {
  max-height: 55px !important;
}
.channel-emote[title="/2kkadse"] {
  max-height: 60px !important;
}
.channel-emote[title="/2kloppe"] {
  max-height: 60px !important;
}
.channel-emote[title="/2knice"] {
  max-height: 60px !important;
}
.channel-emote[title="/2kohl"] {
  max-width: 133px !important;
  max-height: 200px !important;
}
.channel-emote[title="/2kw"] {
  max-height: 60px !important;
}
.channel-emote[title="/2lecken"] {
  max-height: 60px !important;
}
.channel-emote[title="/2lstein"] {
  max-height: 60px !important;
}
.channel-emote[title="/2mampf"] {
  max-height: 60px !important;
}
.channel-emote[title="/2marsch"] {
  max-height: 60px !important;
}
.channel-emote[title="/2merica"] {
  max-height: 60px !important;
}
.channel-emote[title="/2mettfühl"] {
  max-height: 60px !important;
}
.channel-emote[title="/2mysides"] {
  max-height: 60px !important;
}
.channel-emote[title="/2opc"] {
  max-width: 110px !important;
  max-height: 86px !important;
}
.channel-emote[title="/2palme"] {
  max-height: 60px !important;
}
.channel-emote[title="/2popkorn"] {
  max-width: 80px !important;
  max-height: 60px !important;
}
.channel-emote[title="/2ree"] {
  max-height: 60px !important;
}
.channel-emote[title="/2schlafi"] {
  max-height: 60px !important;
}
.channel-emote[title="/2schock"] {
  max-height: 60px !important;
}
.channel-emote[title="/2slav"] {
  max-width: 45px !important;
  max-height: 45px !important;
}
.channel-emote[title="/2spurdo"] {
  max-height: 70px !important;
}
.channel-emote[title="/2ssfühl"] {
  max-height: 60px !important;
}
.channel-emote[title="/2tanzi"] {
  max-height: 60px !important;
}
.channel-emote[title="/2umarm"] {
  max-height: 55px !important;
}
.channel-emote[title="/2yves"] {
  max-height: 60px !important;
}
.channel-emote[title="/3applaus"] {
  max-height: 60px !important;
}
.channel-emote[title="/3bescheuert"] {
  max-height: 60px !important;
}
.channel-emote[title="/3burt"] {
  max-height: 80px !important;
}
.channel-emote[title="/3comfy"] {
  max-height: 80px !important;
}
.channel-emote[title="/3dwat"] {
  max-height: 60px !important;
}
.channel-emote[title="/3fesleh"] {
  max-height: 55px !important;
}
.channel-emote[title="/3frosch"] {
  max-height: 55px !important;
}
.channel-emote[title="/3kalli"] {
  max-height: 60px !important;
}
.channel-emote[title="/3marsch"] {
  max-height: 60px !important;
}
.channel-emote[title="/3reich"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/3staun"] {
  max-height: 60px !important;
}
.channel-emote[title="/3umarm"] {
  max-height: 55px !important;
}
.channel-emote[title="/3wat"] {
  max-height: 60px !important;
}
.channel-emote[title="/3weini"] {
  max-height: 80px !important;
}
.channel-emote[title="/3wow"] {
  max-width: 58px !important;
}
.channel-emote[title="/4achim"] {
  max-width: 480px !important;
  max-height: 320px !important;
}
.channel-emote[title="/4bescheuert"] {
  max-height: 60px !important;
}
.channel-emote[title="/4comfy"] {
  max-height: 80px !important;
}
.channel-emote[title="/4frosch"] {
  max-height: 55px !important;
}
.channel-emote[title="/4marsch"] {
  max-height: 60px !important;
}
.channel-emote[title="/4maus"] {
  max-height: 50px !important;
}
.channel-emote[title="/4ree"] {
  max-height: 50px !important;
}
.channel-emote[title="/4staun"] {
  max-height: 60px !important;
}
.channel-emote[title="/4umarm"] {
  max-height: 55px !important;
}
.channel-emote[title="/5kalli"] {
  max-height: 80px !important;
}
.channel-emote[title="/5marsch"] {
  max-height: 60px !important;
}
.channel-emote[title="/5wat"] {
  max-height: 60px !important;
}
.channel-emote[title="/6marsch"] {
  max-height: 60px !important;
}
.channel-emote[title="/7marsch"] {
  max-height: 60px !important;
}
.channel-emote[title="/7überlege"] {
  max-height: 20px !important;
}
.channel-emote[title="/80frosch"] {
  max-height: 50px !important;
}
.channel-emote[title="/9wat"] {
  max-height: 60px !important;
}
.channel-emote[title="/:3"] {
  max-width: 30px !important;
  max-height: 29px !important;
}
.channel-emote[title="/:3fühl"] {
  max-height: 60px !important;
}
.channel-emote[title="/:o"] {
  max-width: 50px !important;
  max-height: 49px !important;
}
.channel-emote[title="/abow"] {
  max-width: 117px !important;
  max-height: 50px !important;
}
.channel-emote[title="/abstraktfühl"] {
  max-height: 120px !important;
}
.channel-emote[title="/achim"] {
  max-width: 480px !important;
  max-height: 320px !important;
}
.channel-emote[title="/achja"] {
  max-height: 60px !important;
}
.channel-emote[title="/adikh"] {
  max-width: 40px !important;
  max-height: 50px !important;
}
.channel-emote[title="/adisco1"] {
  max-width: 60px !important;
  max-height: 50px !important;
}
.channel-emote[title="/adisco2"] {
  max-width: 58px !important;
  max-height: 50px !important;
}
.channel-emote[title="/adizf"] {
  max-width: 70px !important;
  max-height: 44px !important;
}
.channel-emote[title="/adler"] {
  max-height: 50px !important;
}
.channel-emote[title="/afd"] {
  max-height: 60px !important;
}
.channel-emote[title="/äfk"] {
  max-height: 60px !important;
}
.channel-emote[title="/afroi"] {
  max-height: 60px !important;
}
.channel-emote[title="/allah"] {
  max-width: 80px !important;
  max-height: 62px !important;
}
.channel-emote[title="/allefühls"] {
  max-height: 60px !important;
}
.channel-emote[title="/allein"] {
  max-height: 60px !important;
}
.channel-emote[title="/allesfalsch"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/alsob"] {
  max-height: 60px !important;
}
.channel-emote[title="/aluhut"] {
  max-width: 40px !important;
  max-height: 61px !important;
}
.channel-emote[title="/amokfrosch"] {
  max-height: 50px !important;
}
.channel-emote[title="/angst"] {
  max-width: 73px !important;
  max-height: 50px !important;
}
.channel-emote[title="/applaus"] {
  max-height: 70px !important;
}
.channel-emote[title="/arave"] {
  max-width: 59px !important;
  max-height: 70px !important;
}
.channel-emote[title="/arge"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/armbernd"] {
  max-width: 53px !important;
  max-height: 75px !important;
}
.channel-emote[title="/arsch"] {
  max-height: 70px !important;
}
.channel-emote[title="/asperger"] {
  max-height: 80px !important;
}
.channel-emote[title="/aswag"] {
  max-width: 90px !important;
  max-height: 56px !important;
}
.channel-emote[title="/atomfrosch"] {
  max-height: 70px !important;
}
.channel-emote[title="/aukidauki"] {
  max-width: 50px !important;
  max-height: 53px !important;
}
.channel-emote[title="/awooo"] {
  max-width: 61px !important;
  max-height: 70px !important;
}
.channel-emote[title="/aww"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/bagger288"] {
  max-width: 83px !important;
  max-height: 28px !important;
}
.channel-emote[title="/ballan"] {
  max-height: 80px !important;
}
.channel-emote[title="/bam"] {
  max-width: 35px !important;
  max-height: 34px !important;
}
.channel-emote[title="/banjo"] {
  max-width: 34px !important;
  max-height: 52px !important;
}
.channel-emote[title="/bardy"] {
  max-width: 50px !important;
  max-height: 65px !important;
}
.channel-emote[title="/basskadse"] {
  max-height: 60px !important;
}
.channel-emote[title="/bateman"] {
  max-height: 60px !important;
}
.channel-emote[title="/bear"] {
  max-width: 35px !important;
  max-height: 58px !important;
}
.channel-emote[title="/begreift"] {
  max-width: 58px !important;
  max-height: 50px !important;
}
.channel-emote[title="/belästigung"] {
  max-height: 50px !important;
}
.channel-emote[title="/bescheuert"] {
  max-height: 60px !important;
}
.channel-emote[title="/biene"] {
  max-width: 73px !important;
  max-height: 60px !important;
}
.channel-emote[title="/bogs"] {
  max-width: 27px !important;
  max-height: 40px !important;
}
.channel-emote[title="/bombree"] {
  max-height: 60px !important;
}
.channel-emote[title="/boogie"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/boot"] {
  max-height: 60px !important;
}
.channel-emote[title="/breifick"] {
  max-height: 80px !important;
}
.channel-emote[title="/brook"] {
  max-height: 70px !important;
}
.channel-emote[title="/brum"] {
  max-height: 75px !important;
}
.channel-emote[title="/bsäge"] {
  max-width: 59px !important;
  max-height: 60px !important;
}
.channel-emote[title="/bum"] {
  max-width: 41px !important;
  max-height: 34px !important;
}
.channel-emote[title="/bunkertanz"] {
  max-height: 70px !important;
}
.channel-emote[title="/burd"] {
  max-width: 55px !important;
  max-height: 35px !important;
}
.channel-emote[title="/bürger"] {
  max-width: 66px !important;
  max-height: 50px !important;
}
.channel-emote[title="/burt"] {
  max-height: 80px !important;
}
.channel-emote[title="/bus"] {
  max-height: 60px !important;
}
.channel-emote[title="/butter"] {
  max-width: 65px !important;
  max-height: 45px !important;
}
.channel-emote[title="/chikkin"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/chris"] {
  max-width: 91px !important;
  max-height: 65px !important;
}
.channel-emote[title="/clap"] {
  max-height: 60px !important;
}
.channel-emote[title="/columbo"] {
  max-height: 60px !important;
}
.channel-emote[title="/crank"] {
  max-width: 60px !important;
  max-height: 53px !important;
}
.channel-emote[title="/daddycool"] {
  max-width: 60px !important;
  max-height: 45px !important;
}
.channel-emote[title="/danke"] {
  max-height: 50px !important;
}
.channel-emote[title="/dansen"] {
  max-width: 40px !important;
  max-height: 40px !important;
}
.channel-emote[title="/darferdas"] {
  max-width: 75px !important;
  max-height: 75px !important;
}
.channel-emote[title="/daumen"] {
  max-height: 60px !important;
}
.channel-emote[title="/dave"] {
  max-width: 75px !important;
  max-height: 56px !important;
}
.channel-emote[title="/de"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/df"] {
  max-width: 50px !important;
  max-height: 58px !important;
}
.channel-emote[title="/dies"] {
  max-width: 22px !important;
  max-height: 40px !important;
}
.channel-emote[title="/disco"] {
  max-width: 46px !important;
  max-height: 60px !important;
}
.channel-emote[title="/disguy"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/doge"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/dolan"] {
  max-width: 30px !important;
  max-height: 37px !important;
}
.channel-emote[title="/domigeil"] {
  max-width: 90px !important;
  max-height: 49px !important;
}
.channel-emote[title="/domitanz"] {
  max-width: 107px !important;
  max-height: 60px !important;
}
.channel-emote[title="/drache"] {
  max-width: 65px !important;
  max-height: 90px !important;
}
.channel-emote[title="/dreck"] {
  max-width: 40px !important;
  max-height: 40px !important;
}
.channel-emote[title="/duane"] {
  max-width: 55px !important;
  max-height: 38px !important;
}
.channel-emote[title="/ecchi"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/eistanz"] {
  max-width: 80px !important;
  max-height: 80px !important;
}
.channel-emote[title="/ekk"] {
  max-width: 40px !important;
  max-height: 54px !important;
}
.channel-emote[title="/elefant"] {
  max-width: 237px !important;
  max-height: 237px !important;
}
.channel-emote[title="/elo"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/empört"] {
  max-height: 120px !important;
}
.channel-emote[title="/ernst"] {
  max-width: 68px !important;
  max-height: 36px !important;
}
.channel-emote[title="/esistde"] {
  max-width: 56px !important;
  max-height: 60px !important;
}
.channel-emote[title="/esp"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/faboten"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/facepalm"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/fantastisch"] {
  max-height: 80px !important;
}
.channel-emote[title="/fap"] {
  max-width: 33px !important;
  max-height: 40px !important;
}
.channel-emote[title="/fedora"] {
  max-width: 62px !important;
  max-height: 50px !important;
}
.channel-emote[title="/feels3dman"] {
  max-height: 55px !important;
}
.channel-emote[title="/feels8bit"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsalt"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsbad"] {
  max-width: 55px !important;
  max-height: 55px !important;
}
.channel-emote[title="/feelseh"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsganzalt"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsgood"] {
  max-width: 55px !important;
  max-height: 55px !important;
}
.channel-emote[title="/feelskek"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsliebe"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsmad"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsmissbilligend"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsok"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsree"] {
  max-height: 80px !important;
}
.channel-emote[title="/feelsschweinefleischetikettierungsüberwachungsaufgabenübertragungsgesetz"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelssleepy"] {
  max-height: 50px !important;
}
.channel-emote[title="/feelstired"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelsVer­kehrs­infra­struk­tur­fi­nan­zierungs­ge­sell­schaft"] {
  max-height: 50px !important;
}
.channel-emote[title="/feelswat"] {
  max-height: 55px !important;
}
.channel-emote[title="/feelswoot"] {
  max-width: 80px !important;
}
.channel-emote[title="/ferdi"] {
  max-height: 60px !important;
}
.channel-emote[title="/feslbadd"] {
  max-height: 55px !important;
}
.channel-emote[title="/feslbreid"] {
  max-height: 55px !important;
}
.channel-emote[title="/feslgodd"] {
  max-height: 55px !important;
}
.channel-emote[title="/feslmett"] {
  max-width: 80px !important;
}
.channel-emote[title="/fettfühl"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/feuer"] {
  max-width: 56px !important;
  max-height: 75px !important;
}
.channel-emote[title="/feuerzeug"] {
  max-width: 38px !important;
  max-height: 50px !important;
}
.channel-emote[title="/ffrosch"] {
  max-height: 50px !important;
}
.channel-emote[title="/ffz"] {
  max-height: 55px !important;
}
.channel-emote[title="/fickja"] {
  max-height: 60px !important;
}
.channel-emote[title="/fiix"] {
  max-width: 37px !important;
  max-height: 38px !important;
}
.channel-emote[title="/fkek"] {
  max-height: 55px !important;
}
.channel-emote[title="/fmaus"] {
  max-height: 60px !important;
}
.channel-emote[title="/frakes"] {
  max-width: 104px !important;
  max-height: 50px !important;
}
.channel-emote[title="/frasch"] {
  max-height: 60px !important;
}
.channel-emote[title="/freu"] {
  max-height: 60px !important;
}
.channel-emote[title="/fritt"] {
  max-height: 60px !important;
}
.channel-emote[title="/fritzl"] {
  max-width: 38px !important;
  max-height: 60px !important;
}
.channel-emote[title="/frly"] {
  max-height: 60px !important;
}
.channel-emote[title="/frog"] {
  max-width: 60px !important;
  max-height: 44px !important;
}
.channel-emote[title="/frosch"] {
  max-width: 58px !important;
}
.channel-emote[title="/frusch"] {
  max-width: 60px !important;
}
.channel-emote[title="/fsfrosch"] {
  max-width: 600px !important;
  max-height: 600px !important;
}
.channel-emote[title="/fsicher"] {
  max-height: 60px !important;
}
.channel-emote[title="/ftanz"] {
  max-height: 60px !important;
}
.channel-emote[title="/fühl"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/fühltscheiße"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/führer"] {
  max-width: 70px !important;
  max-height: 49px !important;
}
.channel-emote[title="/fukkireta"] {
  max-width: 50px !important;
  max-height: 37px !important;
}
.channel-emote[title="/fz"] {
  max-width: 48px !important;
  max-height: 50px !important;
}
.channel-emote[title="/gähn"] {
  max-width: 92px !important;
  max-height: 60px !important;
}
.channel-emote[title="/gas"] {
  max-width: 67px !important;
  max-height: 70px !important;
}
.channel-emote[title="/gaswilli"] {
  max-width: 170px !important;
  max-height: 180px !important;
}
.channel-emote[title="/geil"] {
  max-height: 75px !important;
}
.channel-emote[title="/genau"] {
  max-height: 60px !important;
}
.channel-emote[title="/gerner"] {
  max-width: 38px !important;
  max-height: 50px !important;
}
.channel-emote[title="/gewichst"] {
  max-width: 56px !important;
  max-height: 60px !important;
}
.channel-emote[title="/gewinde"] {
  max-width: 271px !important;
  max-height: 50px !important;
}
.channel-emote[title="/gfrosch"] {
  max-width: 70px !important;
}
.channel-emote[title="/gibbeballon"] {
  max-width: 40px !important;
  max-height: 66px !important;
}
.channel-emote[title="/gibbebaum"] {
  max-height: 60px !important;
}
.channel-emote[title="/gibbebier"] {
  max-width: 60px !important;
  max-height: 64px !important;
}
.channel-emote[title="/gibbefritt"] {
  max-width: 61px !important;
  max-height: 60px !important;
}
.channel-emote[title="/gibbefühl"] {
  max-height: 60px !important;
}
.channel-emote[title="/gibbeherz"] {
  max-height: 60px !important;
}
.channel-emote[title="/gibbek"] {
  max-width: 72px !important;
  max-height: 56px !important;
}
.channel-emote[title="/gibbepene"] {
  max-height: 60px !important;
}
.channel-emote[title="/gibbevr"] {
  max-height: 60px !important;
}
.channel-emote[title="/gibbeweini"] {
  max-height: 60px !important;
}
.channel-emote[title="/gigaduane"] {
  max-width: 55px !important;
  max-height: 38px !important;
}
.channel-emote[title="/gigafrog"] {
  max-width: 60px !important;
  max-height: 44px !important;
}
.channel-emote[title="/gigajockel"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/gigaknuddeln"] {
  max-height: 60px !important;
}
.channel-emote[title="/giganotcp"] {
  max-height: 75px !important;
}
.channel-emote[title="/gigapsprölö"] {
  max-height: 50px !important;
}
.channel-emote[title="/gigareta"] {
  max-width: 51px !important;
  max-height: 38px !important;
}
.channel-emote[title="/gir"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/glad"] {
  max-height: 50px !important;
}
.channel-emote[title="/glühfrosch"] {
  max-height: 80px !important;
}
.channel-emote[title="/gnuddeln"] {
  max-width: 68px !important;
  max-height: 50px !important;
}
.channel-emote[title="/goil"] {
  max-height: 60px !important;
}
.channel-emote[title="/gondocaust"] {
  max-height: 60px !important;
}
.channel-emote[title="/gondola"] {
  max-width: 30px !important;
  max-height: 60px !important;
}
.channel-emote[title="/gooby"] {
  max-width: 40px !important;
  max-height: 40px !important;
}
.channel-emote[title="/goyim"] {
  max-width: 50px !important;
  max-height: 58px !important;
}
.channel-emote[title="/grenze"] {
  max-height: 50px !important;
}
.channel-emote[title="/grinsfett"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/grinsling"] {
  max-width: 59px !important;
  max-height: 60px !important;
}
.channel-emote[title="/gustav"] {
  max-height: 41px !important;
}
.channel-emote[title="/hachja"] {
  max-height: 60px !important;
}
.channel-emote[title="/hallo"] {
  max-height: 60px !important;
}
.channel-emote[title="/haltso"] {
  max-width: 76px !important;
  max-height: 60px !important;
}
.channel-emote[title="/haltstopp"] {
  max-width: 40px !important;
  max-height: 58px !important;
}
.channel-emote[title="/handel"] {
  max-width: 90px !important;
  max-height: 46px !important;
}
.channel-emote[title="/händler"] {
  max-width: 95px !important;
  max-height: 71px !important;
}
.channel-emote[title="/hängen"] {
  max-width: 55px !important;
  max-height: 55px !important;
}
.channel-emote[title="/haram"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/hartkern"] {
  max-width: 50px !important;
  max-height: 56px !important;
}
.channel-emote[title="/hausdavid"] {
  max-width: 83px !important;
  max-height: 56px !important;
}
.channel-emote[title="/haveaseat"] {
  max-height: 70px !important;
}
.channel-emote[title="/hdf"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/heben"] {
  max-height: 60px !important;
}
.channel-emote[title="/heilchen"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/heinrich"] {
  max-width: 39px !important;
  max-height: 50px !important;
}
.channel-emote[title="/hela"] {
  max-width: 169px !important;
  max-height: 50px !important;
}
.channel-emote[title="/herzkadsi"] {
  max-height: 60px !important;
}
.channel-emote[title="/hgicht"] {
  max-width: 68px !important;
  max-height: 51px !important;
}
.channel-emote[title="/hitlör"] {
  max-height: 70px !important;
}
.channel-emote[title="/hmok"] {
  max-height: 60px !important;
}
.channel-emote[title="/holger"] {
  max-width: 60px !important;
}
.channel-emote[title="/homer"] {
  max-height: 60px !important;
}
.channel-emote[title="/horni"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/htfrosch"] {
  max-height: 60px !important;
}
.channel-emote[title="/hunt"] {
  max-width: 40px !important;
  max-height: 49px !important;
}
.channel-emote[title="/hüpf"] {
  max-height: 60px !important;
}
.channel-emote[title="/icc"] {
  max-height: 60px !important;
}
.channel-emote[title="/ifrosch"] {
  max-height: 60px !important;
}
.channel-emote[title="/imafk"] {
  max-height: 60px !important;
}
.channel-emote[title="/imokwiththis"] {
  max-width: 29px !important;
  max-height: 30px !important;
}
.channel-emote[title="/japan"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/jazz"] {
  max-width: 70px !important;
  max-height: 70px !important;
}
.channel-emote[title="/jfrosch"] {
  max-width: 52px !important;
  max-height: 50px !important;
}
.channel-emote[title="/jockel"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/jölö"] {
  max-height: 60px !important;
}
.channel-emote[title="/jtanz"] {
  max-width: 45px !important;
  max-height: 59px !important;
}
.channel-emote[title="/jude"] {
  max-width: 44px !important;
  max-height: 60px !important;
}
.channel-emote[title="/kadsentanz"] {
  max-width: 83px !important;
  max-height: 56px !important;
}
.channel-emote[title="/kalfi"] {
  max-height: 60px !important;
}
.channel-emote[title="/kantig"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/kclap"] {
  max-height: 60px !important;
}
.channel-emote[title="/kdf"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/kebab"] {
  max-width: 90px !important;
  max-height: 50px !important;
}
.channel-emote[title="/keekefeels"] {
  max-width: 55px !important;
  max-height: 60px !important;
}
.channel-emote[title="/keinbernd"] {
  max-width: 41px !important;
  max-height: 50px !important;
}
.channel-emote[title="/kekistan"] {
  max-height: 70px !important;
}
.channel-emote[title="/kfrosch"] {
  max-width: 44px !important;
  max-height: 50px !important;
}
.channel-emote[title="/kicked"] {
  max-width: 100% !important;
}
.channel-emote[title="/kidzbop"] {
  max-width: 53px !important;
  max-height: 60px !important;
}
.channel-emote[title="/kiesling"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/Kiffgenuss"] {
  max-height: 60px !important;
}
.channel-emote[title="/kim"] {
  max-height: 60px !important;
}
.channel-emote[title="/kinski"] {
  max-width: 43px !important;
  max-height: 40px !important;
}
.channel-emote[title="/kipo"] {
  max-width: 61px !important;
  max-height: 50px !important;
}
.channel-emote[title="/kjazz"] {
  max-width: 77px !important;
  max-height: 70px !important;
}
.channel-emote[title="/kkadse"] {
  max-width: 80px !important;
}
.channel-emote[title="/kkek"] {
  max-height: 55px !important;
}
.channel-emote[title="/klach"] {
  max-height: 60px !important;
}
.channel-emote[title="/klaus"] {
  max-width: 110px !important;
  max-height: 75px !important;
}
.channel-emote[title="/kloppe"] {
  max-height: 60px !important;
}
.channel-emote[title="/kmett"] {
  max-width: 69px !important;
  max-height: 65px !important;
}
.channel-emote[title="/knuddeln"] {
  max-width: 68px !important;
  max-height: 50px !important;
}
.channel-emote[title="/kochen"] {
  max-height: 55px !important;
}
.channel-emote[title="/kogoro"] {
  max-width: 74px !important;
  max-height: 60px !important;
}
.channel-emote[title="/koks"] {
  max-height: 60px !important;
}
.channel-emote[title="/kökschlaf"] {
  max-height: 60px !important;
}
.channel-emote[title="/kopc"] {
  max-height: 60px !important;
}
.channel-emote[title="/korn"] {
  max-height: 60px !important;
}
.channel-emote[title="/kot"] {
  max-width: 59px !important;
  max-height: 50px !important;
}
.channel-emote[title="/kotz"] {
  max-width: 58px !important;
  max-height: 58px !important;
}
.channel-emote[title="/krampfi"] {
  max-height: 60px !important;
}
.channel-emote[title="/kratz"] {
  max-width: 110px !important;
}
.channel-emote[title="/kraul"] {
  max-height: 60px !important;
}
.channel-emote[title="/krebs"] {
  max-height: 50px !important;
}
.channel-emote[title="/kreiswichs"] {
  max-width: 130px !important;
  max-height: 98px !important;
}
.channel-emote[title="/kreuz"] {
  max-width: 40px !important;
  max-height: 40px !important;
}
.channel-emote[title="/krot"] {
  max-height: 60px !important;
}
.channel-emote[title="/krotsäge"] {
  max-height: 60px !important;
}
.channel-emote[title="/ks1"] {
  max-width: 140px !important;
  max-height: 40px !important;
}
.channel-emote[title="/ks2"] {
  max-width: 80px !important;
  max-height: 60px !important;
}
.channel-emote[title="/ks3"] {
  max-height: 70px !important;
}
.channel-emote[title="/kspartei"] {
  max-height: 60px !important;
}
.channel-emote[title="/kstoss"] {
  max-width: 77px !important;
  max-height: 40px !important;
}
.channel-emote[title="/kuchen"] {
  max-width: 140px !important;
  max-height: 40px !important;
}
.channel-emote[title="/kunsd"] {
  max-width: 55px !important;
  max-height: 50px !important;
}
.channel-emote[title="/kw"] {
  max-width: 61px !important;
  max-height: 68px !important;
}
.channel-emote[title="/lachs"] {
  max-width: 63px !important;
  max-height: 38px !important;
}
.channel-emote[title="/ladida"] {
  max-height: 60px !important;
}
.channel-emote[title="/länge"] {
  max-width: 70px !important;
  max-height: 70px !important;
}
.channel-emote[title="/laser"] {
  max-height: 80px !important;
}
.channel-emote[title="/lecken"] {
  max-height: 60px !important;
}
.channel-emote[title="/lfett"] {
  max-width: 55px !important;
  max-height: 60px !important;
}
.channel-emote[title="/lfrog"] {
  max-width: 60px !important;
}
.channel-emote[title="/lfukkireta"] {
  max-width: 51px !important;
  max-height: 38px !important;
}
.channel-emote[title="/lili"] {
  max-width: 90px !important;
  max-height: 67px !important;
}
.channel-emote[title="/lms"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/löffel"] {
  max-height: 90px !important;
}
.channel-emote[title="/longcat"] {
  max-width: 200px !important;
  max-height: 300px !important;
}
.channel-emote[title="/lord"] {
  max-width: 53px !important;
  max-height: 60px !important;
}
.channel-emote[title="/löschdas"] {
  max-width: 55px !important;
  max-height: 55px !important;
}
.channel-emote[title="/lstein"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/ltrostlos"] {
  max-height: 58px !important;
}
.channel-emote[title="/ludger"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/lüfter"] {
  max-width: 51px !important;
  max-height: 60px !important;
}
.channel-emote[title="/luggas"] {
  max-height: 60px !important;
}
.channel-emote[title="/lulu"] {
  max-height: 50px !important;
}
.channel-emote[title="/lüning"] {
  max-height: 60px !important;
}
.channel-emote[title="/lustig"] {
  max-height: 70px !important;
}
.channel-emote[title="/lw"] {
  max-width: 70px !important;
  max-height: 55px !important;
}
.channel-emote[title="/lyoner"] {
  max-width: 50px !important;
  max-height: 67px !important;
}
.channel-emote[title="/mäggüs"] {
  max-width: 29px !important;
  max-height: 50px !important;
}
.channel-emote[title="/majo"] {
  max-width: 88px !important;
  max-height: 41px !important;
}
.channel-emote[title="/mampf"] {
  max-height: 60px !important;
}
.channel-emote[title="/marsch"] {
  max-height: 60px !important;
}
.channel-emote[title="/maskenfrosch"] {
  max-height: 50px !important;
}
.channel-emote[title="/maus"] {
  max-height: 55px !important;
}
.channel-emote[title="/melli17"] {
  max-width: 80px !important;
  max-height: 60px !important;
}
.channel-emote[title="/merica"] {
  max-width: 36px !important;
  max-height: 58px !important;
}
.channel-emote[title="/merkel"] {
  max-height: 60px !important;
}
.channel-emote[title="/metal"] {
  max-width: 60px !important;
  max-height: 68px !important;
}
.channel-emote[title="/mett"] {
  max-width: 45px !important;
  max-height: 45px !important;
}
.channel-emote[title="/mettfühl"] {
  max-height: 60px !important;
}
.channel-emote[title="/metthund"] {
  max-width: 45px !important;
  max-height: 45px !important;
}
.channel-emote[title="/mettweini"] {
  max-height: 60px !important;
}
.channel-emote[title="/mfrosch"] {
  max-width: 70px !important;
  max-height: 60px !important;
}
.channel-emote[title="/mhk"] {
  max-width: 51px !important;
  max-height: 60px !important;
}
.channel-emote[title="/miku"] {
  max-height: 60px !important;
}
.channel-emote[title="/mjtanz"] {
  max-height: 60px !important;
}
.channel-emote[title="/mms"] {
  max-height: 60px !important;
}
.channel-emote[title="/mmw"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/moin"] {
  max-height: 60px !important;
}
.channel-emote[title="/mok"] {
  max-height: 60px !important;
}
.channel-emote[title="/molnar"] {
  max-height: 60px !important;
}
.channel-emote[title="/mopc"] {
  max-width: 110px !important;
  max-height: 86px !important;
}
.channel-emote[title="/motherofgod"] {
  max-width: 50px !important;
  max-height: 38px !important;
}
.channel-emote[title="/mowl"] {
  max-height: 80px !important;
}
.channel-emote[title="/mühsam"] {
  max-height: 60px !important;
}
.channel-emote[title="/musifrens"] {
  max-width: 400px !important;
  max-height: 120px !important;
}
.channel-emote[title="/mysides"] {
  max-height: 50px !important;
}
.channel-emote[title="/nadja"] {
  max-height: 60px !important;
}
.channel-emote[title="/nadsi"] {
  max-width: 52px !important;
  max-height: 50px !important;
}
.channel-emote[title="/nährstange"] {
  max-width: 180px !important;
}
.channel-emote[title="/nein"] {
  max-height: 80px !important;
}
.channel-emote[title="/neonjude"] {
  max-height: 60px !important;
}
.channel-emote[title="/neun"] {
  max-width: 71px !important;
  max-height: 40px !important;
}
.channel-emote[title="/nice"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/nigga"] {
  max-width: 20px !important;
  max-height: 30px !important;
}
.channel-emote[title="/nivo"] {
  max-width: 70px !important;
  max-height: 46px !important;
}
.channel-emote[title="/nk"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/nö"] {
  max-height: 60px !important;
}
.channel-emote[title="/nomception"] {
  max-height: 60px !important;
}
.channel-emote[title="/notcp"] {
  max-height: 75px !important;
}
.channel-emote[title="/notsure"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/npc"] {
  max-height: 50px !important;
}
.channel-emote[title="/ns"] {
  max-height: 60px !important;
}
.channel-emote[title="/nsdap"] {
  max-height: 60px !important;
}
.channel-emote[title="/nucular"] {
  max-height: 60px !important;
}
.channel-emote[title="/omnom"] {
  max-height: 50px !important;
}
.channel-emote[title="/oof"] {
  max-width: 70px !important;
}
.channel-emote[title="/opc"] {
  max-width: 37px !important;
  max-height: 60px !important;
}
.channel-emote[title="/opferkult"] {
  max-width: 56px !important;
  max-height: 60px !important;
}
.channel-emote[title="/öttinger"] {
  max-height: 120px !important;
}
.channel-emote[title="/pädö"] {
  max-width: 29px !important;
  max-height: 50px !important;
}
.channel-emote[title="/paku"] {
  max-width: 50px !important;
  max-height: 79px !important;
}
.channel-emote[title="/paladin"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/palme"] {
  max-width: 65px !important;
  max-height: 50px !important;
}
.channel-emote[title="/partei"] {
  max-width: 70px !important;
  max-height: 44px !important;
}
.channel-emote[title="/pecchi"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/pedobear"] {
  max-width: 40px !important;
  max-height: 65px !important;
}
.channel-emote[title="/peiou"] {
  max-width: 64px !important;
  max-height: 65px !important;
}
.channel-emote[title="/pekaface"] {
  max-width: 40px !important;
  max-height: 40px !important;
}
.channel-emote[title="/peng"] {
  max-height: 60px !important;
}
.channel-emote[title="/penis"] {
  max-width: 40px !important;
  max-height: 40px !important;
}
.channel-emote[title="/pfrosch"] {
  max-height: 50px !important;
}
.channel-emote[title="/pina"] {
  max-height: 60px !important;
}
.channel-emote[title="/piratenfrosch"] {
  max-height: 50px !important;
}
.channel-emote[title="/pissdich"] {
  max-width: 69px !important;
  max-height: 60px !important;
}
.channel-emote[title="/pizza"] {
  max-width: 55px !important;
  max-height: 65px !important;
}
.channel-emote[title="/pkadse"] {
  max-width: 83px !important;
  max-height: 56px !important;
}
.channel-emote[title="/pomf"] {
  max-width: 40px !important;
  max-height: 40px !important;
}
.channel-emote[title="/pool"] {
  max-height: 60px !important;
}
.channel-emote[title="/popkorn"] {
  max-width: 80px !important;
  max-height: 60px !important;
}
.channel-emote[title="/potti"] {
  max-width: 55px !important;
  max-height: 55px !important;
}
.channel-emote[title="/preußen"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/preußenfühl"] {
  max-height: 60px !important;
}
.channel-emote[title="/prost"] {
  max-height: 60px !important;
}
.channel-emote[title="/psprölö"] {
  max-height: 50px !important;
}
.channel-emote[title="/ptanzi"] {
  max-width: 40px !important;
}
.channel-emote[title="/racist"] {
  max-width: 60px !important;
  max-height: 50px !important;
}
.channel-emote[title="/ramen"] {
  max-height: 60px !important;
}
.channel-emote[title="/randy"] {
  max-width: 104px !important;
  max-height: 59px !important;
}
.channel-emote[title="/raus"] {
  max-height: 60px !important;
}
.channel-emote[title="/rave"] {
  max-height: 60px !important;
}
.channel-emote[title="/ree"] {
  max-height: 60px !important;
}
.channel-emote[title="/reich"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/revo"] {
  max-height: 60px !important;
}
.channel-emote[title="/rfk"] {
  max-width: 95px !important;
  max-height: 40px !important;
}
.channel-emote[title="/rif"] {
  max-width: 50px !important;
  max-height: 63px !important;
}
.channel-emote[title="/rötör"] {
  max-width: 63px !important;
  max-height: 50px !important;
}
.channel-emote[title="/rus"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/sad"] {
  max-height: 50px !important;
}
.channel-emote[title="/säge"] {
  max-width: 87px !important;
}
.channel-emote[title="/sanic"] {
  max-width: 31px !important;
  max-height: 33px !important;
}
.channel-emote[title="/sarm"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/saufen"] {
  max-width: 75px !important;
  max-height: 56px !important;
}
.channel-emote[title="/saufi"] {
  max-width: 66px !important;
  max-height: 50px !important;
}
.channel-emote[title="/sbot"] {
  max-height: 80px !important;
}
.channel-emote[title="/schädel"] {
  max-height: 40px !important;
}
.channel-emote[title="/schaf"] {
  max-height: 60px !important;
}
.channel-emote[title="/schämwilli"] {
  max-width: 170px !important;
  max-height: 180px !important;
}
.channel-emote[title="/schlafi"] {
  max-width: 70px !important;
  max-height: 42px !important;
}
.channel-emote[title="/schluck"] {
  max-height: 55px !important;
}
.channel-emote[title="/schluss"] {
  max-height: 80px !important;
}
.channel-emote[title="/schnidl"] {
  max-height: 55px !important;
}
.channel-emote[title="/schock"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/schwarzesonne"] {
  max-height: 40px !important;
}
.channel-emote[title="/schwitz"] {
  max-width: 55px !important;
  max-height: 55px !important;
}
.channel-emote[title="/schwoto"] {
  max-width: 45px !important;
  max-height: 59px !important;
}
.channel-emote[title="/sgerner"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/sherzkadsi"] {
  max-height: 60px !important;
}
.channel-emote[title="/shizzle"] {
  max-width: 93px !important;
  max-height: 55px !important;
}
.channel-emote[title="/silentium"] {
  max-width: 86px !important;
  max-height: 50px !important;
}
.channel-emote[title="/skadse"] {
  max-height: 60px !important;
}
.channel-emote[title="/skibbe"] {
  max-width: 107px !important;
  max-height: 20px !important;
}
.channel-emote[title="/slav"] {
  max-width: 45px !important;
  max-height: 45px !important;
}
.channel-emote[title="/slawik"] {
  max-width: 63px !important;
  max-height: 50px !important;
}
.channel-emote[title="/smug"] {
  max-height: 60px !important;
}
.channel-emote[title="/smugbombe"] {
  max-width: 93px !important;
  max-height: 70px !important;
}
.channel-emote[title="/snoop"] {
  max-width: 20px !important;
  max-height: 45px !important;
}
.channel-emote[title="/soeinfach"] {
  max-height: 70px !important;
}
.channel-emote[title="/sohitler"] {
  max-height: 70px !important;
}
.channel-emote[title="/sov"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/sprolle"] {
  max-height: 60px !important;
}
.channel-emote[title="/sprölö"] {
  max-width: 29px !important;
  max-height: 50px !important;
}
.channel-emote[title="/spurdo"] {
  max-width: 59px !important;
  max-height: 40px !important;
}
.channel-emote[title="/ssfühl"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/ssprölö"] {
  max-height: 50px !important;
}
.channel-emote[title="/staun"] {
  max-height: 60px !important;
}
.channel-emote[title="/stoll2"] {
  max-height: 60px !important;
}
.channel-emote[title="/stollschluck"] {
  max-height: 60px !important;
}
.channel-emote[title="/störung"] {
  max-height: 60px !important;
}
.channel-emote[title="/stoss"] {
  max-width: 70px !important;
  max-height: 45px !important;
}
.channel-emote[title="/streichel"] {
  max-height: 60px !important;
}
.channel-emote[title="/success"] {
  max-width: 28px !important;
  max-height: 59px !important;
}
.channel-emote[title="/t5kalli"] {
  max-height: 80px !important;
}
.channel-emote[title="/tadler"] {
  max-height: 60px !important;
}
.channel-emote[title="/tadolf"] {
  max-width: 51px !important;
  max-height: 60px !important;
}
.channel-emote[title="/tanz1"] {
  max-height: 60px !important;
}
.channel-emote[title="/tanzen"] {
  max-width: 31px !important;
  max-height: 45px !important;
}
.channel-emote[title="/tanzi"] {
  max-height: 60px !important;
}
.channel-emote[title="/tanzk"] {
  max-height: 60px !important;
}
.channel-emote[title="/tbunkertanz"] {
  max-height: 70px !important;
}
.channel-emote[title="/tdennis"] {
  max-width: 78px !important;
  max-height: 60px !important;
}
.channel-emote[title="/teistanz"] {
  max-height: 80px !important;
}
.channel-emote[title="/teto"] {
  max-width: 80px !important;
  max-height: 60px !important;
}
.channel-emote[title="/tfeels"] {
  max-width: 55px !important;
  max-height: 60px !important;
}
.channel-emote[title="/tfokel"] {
  max-height: 60px !important;
}
.channel-emote[title="/tfrosch"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/tfukkireta"] {
  max-width: 51px !important;
  max-height: 38px !important;
}
.channel-emote[title="/thaddeus"] {
  max-width: 40px !important;
  max-height: 50px !important;
}
.channel-emote[title="/thomas"] {
  max-height: 60px !important;
}
.channel-emote[title="/thuglife"] {
  max-width: 55px !important;
  max-height: 55px !important;
}
.channel-emote[title="/timotei"] {
  max-height: 60px !important;
}
.channel-emote[title="/titten"] {
  max-height: 70px !important;
}
.channel-emote[title="/tja"] {
  max-height: 60px !important;
}
.channel-emote[title="/tkadse"] {
  max-height: 60px !important;
}
.channel-emote[title="/tlach"] {
  max-height: 60px !important;
}
.channel-emote[title="/tomoko"] {
  max-width: 50px !important;
  max-height: 48px !important;
}
.channel-emote[title="/top"] {
  max-width: 97px !important;
  max-height: 55px !important;
}
.channel-emote[title="/total"] {
  max-height: 60px !important;
}
.channel-emote[title="/traurik"] {
  max-height: 60px !important;
}
.channel-emote[title="/trigglypuff"] {
  max-height: 60px !important;
}
.channel-emote[title="/trommler"] {
  max-width: 77px !important;
  max-height: 45px !important;
}
.channel-emote[title="/trostlos"] {
  max-height: 58px !important;
}
.channel-emote[title="/trump7"] {
  max-width: 200px !important;
}
.channel-emote[title="/tschluck"] {
  max-width: 70px !important;
  max-height: 55px !important;
}
.channel-emote[title="/tstoll"] {
  max-height: 60px !important;
}
.channel-emote[title="/tswag"] {
  max-width: 90px !important;
  max-height: 90px !important;
}
.channel-emote[title="/tta"] {
  max-width: 110px !important;
  max-height: 60px !important;
}
.channel-emote[title="/ttarsch"] {
  max-height: 60px !important;
}
.channel-emote[title="/turbofrog"] {
  max-width: 60px !important;
  max-height: 44px !important;
}
.channel-emote[title="/turbojockel"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/turbokadsentanz"] {
  max-width: 83px !important;
  max-height: 56px !important;
}
.channel-emote[title="/turbonotcp"] {
  max-height: 75px !important;
}
.channel-emote[title="/turboo"] {
  max-height: 49px !important;
}
.channel-emote[title="/turboschwoto"] {
  max-width: 45px !important;
  max-height: 59px !important;
}
.channel-emote[title="/turboyves"] {
  max-width: 73px !important;
  max-height: 59px !important;
}
.channel-emote[title="/turing"] {
  max-width: 44px !important;
  max-height: 43px !important;
}
.channel-emote[title="/twait"] {
  max-height: 60px !important;
}
.channel-emote[title="/uab"] {
  max-height: 60px !important;
}
.channel-emote[title="/umarm"] {
  max-height: 55px !important;
}
.channel-emote[title="/untermensch"] {
  max-width: 53px !important;
  max-height: 60px !important;
}
.channel-emote[title="/usa"] {
  max-width: 65px !important;
  max-height: 44px !important;
}
.channel-emote[title="/verwirrt"] {
  max-width: 106px !important;
  max-height: 60px !important;
}
.channel-emote[title="/viking"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title="/vino"] {
  max-width: 70px !important;
  max-height: 58px !important;
}
.channel-emote[title="/vitas"] {
  max-height: 60px !important;
}
.channel-emote[title="/vogel"] {
  max-width: 33px !important;
  max-height: 50px !important;
}
.channel-emote[title="/wait"] {
  max-height: 60px !important;
}
.channel-emote[title="/warum"] {
  max-height: 60px !important;
}
.channel-emote[title="/wat"] {
  max-width: 38px !important;
  max-height: 42px !important;
}
.channel-emote[title="/weini"] {
  max-height: 60px !important;
}
.channel-emote[title="/weiter"] {
  max-width: 66px !important;
}
.channel-emote[title="/wfühl"] {
  max-height: 60px !important;
}
.channel-emote[title="/wiederlich"] {
  max-width: 61px !important;
  max-height: 50px !important;
}
.channel-emote[title="/wieni"] {
  max-height: 60px !important;
}
.channel-emote[title="/wkdf"] {
  max-width: 107px !important;
  max-height: 60px !important;
}
.channel-emote[title="/woo"] {
  max-height: 60px !important;
}
.channel-emote[title="/wow"] {
  max-width: 87px !important;
  max-height: 65px !important;
}
.channel-emote[title="/wstoss"] {
  max-width: 70px !important;
  max-height: 45px !important;
}
.channel-emote[title="/wtanz"] {
  max-height: 60px !important;
}
.channel-emote[title="/würg"] {
  max-height: 70px !important;
}
.channel-emote[title="/würze"] {
  max-width: 120px !important;
  max-height: 120px !important;
}
.channel-emote[title="/wütling"] {
  max-height: 60px !important;
}
.channel-emote[title="/wutossi"] {
  max-height: 60px !important;
}
.channel-emote[title="/ww/"] {
  max-height: 57px !important;
}
.channel-emote[title="/yee"] {
  max-width: 55px !important;
  max-height: 55px !important;
}
.channel-emote[title="/yoo"] {
  max-width: 50px !important;
  max-height: 90px !important;
}
.channel-emote[title="/yulia"] {
  max-width: 50px !important;
  max-height: 59px !important;
}
.channel-emote[title="/yves"] {
  max-width: 73px !important;
  max-height: 59px !important;
}
.channel-emote[title="/zappzarapp"] {
  max-height: 60px !important;
}
.channel-emote[title="/zauberer"] {
  max-width: 60px !important;
  max-height: 60px !important;
}
.channel-emote[title="/zeit"] {
  max-width: 69px !important;
}
.channel-emote[title="/ziege"] {
  max-height: 150px !important;
}
.channel-emote[title="/ziegekiff"] {
  max-height: 120px !important;
}
.channel-emote[title="/zonk"] {
  max-width: 62px !important;
  max-height: 60px !important;
}
.channel-emote[title="/zyklon"] {
  max-width: 50px !important;
  max-height: 50px !important;
}
.channel-emote[title=":is:"] {
  max-width: 83px !important;
  max-height: 50px !important;
}
