  <div class="motd">
    <div class="motd-container" style="margin-top:22px">

      <div class="motd-box">
        <span class="kraut-title text-ro">DigitalgewaltSynch - Garmer gewinnt</span>
        <span class="text-row" style="max-width:55em;font-style:italic;font-weight:normal">
          "Kr4ssi, fette und dünne Alkoholiker, die gerne auch mal harte Drogen nehmen, und jede Menge dauerwichsende Jungfrauen! Ja Bernd, all dies erwartet dich im Fersagersynch! Lauter Fleischers sind dort unterwegs" </span>
      </div>
    </div>

  </div>

  <div class="motd">
    <div class="motd-container-elfen">

      <div class="motd-box-elfen">
        <div>
          <div style="border:0px solid red;height:1em"></div><a href="https://8ch.net/ksbrett/index.html" target="_blank" class="motd-link text-row">Brett: /KrautSynch/</a>
          <div style="border:0px solid red;height:1em"><a href="https://8ch.net/krautsynch/" target="_blank" class="motd-link text-row" style="font-size:0.7em">Brett alt: /KrautSynch/</a></div>
        </div>
      </div>
      <div class="motd-box-elfen">
        <a href="http://cytu.be/r/bener" target="_blank" class="motd-link">Bener</a>
      </div>
      <div class="motd-box-elfen">
        <a href="http://cytu.be/r/themensynch" target="_blank" class="motd-link">ThemenSynch</a>
      </div>
      <div class="motd-box-elfen">
        <a href="http://cytu.be/r/sportsynch" target="_blank" class="motd-link">SportSynch</a>
      </div>
      <div class="motd-box-elfen">
        <a href="http://steamcommunity.com/groups/KrautSynch" target="_blank">
          <img src="https://i.redd.it/zh8bnmoeqxf51.png" style="max-height:35px" />
        </a>
      </div>
    </div>

    <div class="motd">
      <div class="motd-container">
        <div class="motd-box" style="width:25em">
          <center>
            <span class="text-row" style="font-style:italic;text-decoration:underline">Krautsynch Wochenprogramm:</span>
            <br />
            <span class="text-row">Montags: Fleischiger Bildschirmschoner-Montag </span>
            <span class="text-row">Dienstags: Nichts und Zufallsvideos und Nichts</span>
            <span class="text-row">Mittwochs: Lauern und ÄFK-Sein</span>
            <span class="text-row">Donnerstag: Kotnaschen mit Bernd</span>
            <span class="text-row">Freitags: Pack an Sack Pimmel die Fotz Parteifreitag</span>
            <span class="text-row">Samstags: Fick die Kuh</span>
            <span class="text-row">Sonntags: IQ89-Programm und SonDoku</span>
          </center>
        </div>
        <div class="motd-box">
          <center>
            <span class="text-row">Fiku einbindbar: Odysee/Rumble/Dailymotion. (bei archive.org nutzt .download LINK)</span>
            <br />
            <s><a href="https://krautsynch.de/bozon/" target="_blank"><span class="text-row"> Bozon (FTP Alternative): https://krautsynch.de/bozon/</span></a> user: hochlad Passwort: PX6twT0i!Lx9L4Q9b2M6PQQPY9gb7tnMwy</s>
            <br />
            <img style="max-width:100px" src="https://i.ibb.co/gPrP4dR/pngaaa-com-4931679.png" />
            <br />
            <span class="text-row">Streamkiste.tv: von Streamtape mit VideoDownloaderHelper Addon runter- und bei fileditch.com hochladen</span>
            
          </center>
        </div>
        <div class="motd-box" style="width:25em">
          <center>
            <span>.help gibt eine Übersicht über Befehle</span><br />
            <span>Neuester Botbefehl: .download youtube-URL, für altersbeschränkte Videos, .fikuseen zeigt letzten 10 Fikufilme </span><br />
            <span>Neuste Chatbefehle:</span><br />
            <span>Overlay Bilder: [/emote1]overlay[/emote2]</span><br />
             <span>Bildergröße Anpassen #breite #[höhe]: #300 bild #200 </span><br />
             <span>Blur Spoiler: [blur] wasauchimmer [/blur]</span><br />
          </center>
        </div>
      </div>

      <div class="motd-container" style="font-size:0.7em;color:white">
        <div class="motd-box">
          <span style="width:90%">Das Video funktioniert nicht oder stockt? <a style="color:white;text-decoration:underline" href="https://goo.gl/yUpLP7" target="_blank">Tampermonkey/Greasemonkey + Google-Drive-Script </a> nicht vergessen und/oder
            diesen Wert <a class="motd-link" href="http://i.imgur.com/GxwyYDL.png" target="_blank">https://i.imgur.com/GxwyYDL.png </a> auf 15-20 setzen. Auch: erlaubt in eurem Werbetracker-Plugin im Browser das googledocs/googledrive nicht geblockt
            wird. (Google-Ads dürfen geblockt bleiben). </span>

        </div>
      </div>
    </div>
  </div>